<title>Edit Camp</title>
<%= layout('layouts/boilerplate');%>
     <div class="alert alert-warning" role="alert">
        <h5> <%= err.messege %> </h5>
        <h5> <%= err.statusCode %> </h5>
         <p> <%= err.stack %> </p>
      </div>