<title>Camps</title>
<% layout('layouts/boilerplate');%>
<link crossorigin="anonymous" href="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css" rel="stylesheet">
<script crossorigin="anonymous" src="https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js"></script>
<link rel="stylesheet" href="/styles/general.css">
<div class="row m-0">
    <div class="col-sm-6 title-text p-5 pt-0">
         <h1 class="heading">Camps.</h1>
         <h1 class="heading">Travel.</h1>
         <h1 class="heading">Maps.</h1>
         <h5 class="text-muted">& much more...</h5>
         <a href="/viewcamps" class="btn btn-outline-info see-camp-link">See camps!
        </a>
    </div>
    <div class="col-sm-6">
        <div id="imageCarousel" class="carousel slide img-carousel" data-bs-ride="carousel">
            <div class="carousel-inner m-0" >
              <% for (let i = 0; i < 10; i++) { %>
              <div class="carousel-item active ">
                <img crossorigin="anonymous" src="<%= campgrounds[i].image[0].url %>" class="d-block w-100 mh-120 img-single" style="height: fit-content;">
                <div class="carousel-caption d-none d-md-block">
                        <h6 class="text-muted" style="color: black;"><%= campgrounds[i].title %></h6>
              </div>
            </div>
              <% } %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>   
     </div>
</div>

<script>
   const mapBoxToken = '<%- process.env.MAPBOX_ACCESS_TOKEN %>'
   const campgroundData = '<%- JSON.stringify(campgrounds) %>'
</script>
<script  crossorigin="anonymous" src="/clusterMap.js"></script>
